#canvas-wrap { 
    position:relative;
    
 } 
 body{
     margin: 0%;
     font-family: 'Playfair Display', serif;
 }
 /* styles for logo, play and instructions button */
 #logo,#button{
    position:absolute;
     top:15%; 
     left:47%;
     }
     #button{
         margin-top:15%;
         left: 43.8%;
     }